.project
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.jsdt.ui.superType.container
Exercise3/node_modules/
*.lnk
Exercise3/AppsManager/.editorconfig
*.eslintrc
Exercise3/AppsManager/.eslintignore
Exercise3/AppsManager/client/README.md
Exercise3/build.js.map
Task6/.idea/codeStyleSettings.xml
*.xml
*.cmd
Task6/node_modules/
Exercise3/AppsManager/.yo-rc.json
*.iml
.settings/org.eclipse.core.resources.prefs
Exercise3/npm-debug.log
Task6/.settings/.jsdtscope
*.container
Task6/.settings/org.eclipse.wst.jsdt.ui.superType.name
.idea/JSLearning.iml___jb_tmp___
*.xml___jb_tmp___