<div class="borderedLine">
    <button id="CreateFigure">Создать</button>
    <button id="IncreaseFigure">Увеличить</button>
    <button id="DecreaseFigure">Уменьшить</button>
    <button id="GetAreaFigure">Площадь</button>
</div>
<div id="Container"></div>

<canvas id="canvas" width=740 height=500></canvas>