<div id="CreateForm">
    <select id="FigureSelect">
        <option value="Sqr">Квадрат</option>
        <option value="Rec">Прямоугольник</option>
        <option value="Cir">Круг</option>
    </select>
    <div id="FigureParams"></div>
</div>