X:<input type="number" value="100" id="FigureX"><br>
Y:<input type="number" value="100" id="FigureY"><br>

<%if(data.typ=="Cir"){ print("Радиус:<input type='number'' value='100'' id='FigureR'><br>")%>
<%}else{%>
<%print("Ширина:<input type='number'' value='100'' id='FigureW'><br>")%>
<%if(data.typ=="Rec") print("Высота:<input type='number'' value='100'' id='FigureH'><br>")%>
<%}%>

<button id="FigureBtn">Ок</button>