<div id="CreateForm">
    <select id="TypeSelect">
        <option value="Fix">Фиксированная</option>
        <option value="Rate">Почасовая</option>
    </select>
    <br>ID:<input type="number" value="<%=data.id%>" id="ID">
    <br>Имя:<input value="Работник" id="Name">
    <br><span id="txt">Зарплата</span>:<input type="number" value="100" id="Sum">
    <br><button id="AddBtn">Добавить</button>
    <button id="CancelBtn">Отмена</button>
</div>