<div class="borderedLine">
    <button id="AddList">Добавить</button>
    <button id="ImportList">Импорт</button>
    <button id="ExportList">Экспорт</button>
</div>
<div id="Container"></div>
<span id="Alert" class="alert"></span>
<div id="Result" class="borderedLine" style="height: 2.2em;"></div>
<div id="PersonsList"></div>