<form class="regForm styledForm">
    <span class="styledLabel">Логин</span>
    <input type="text" class="loginField inputField" required>
    <span class="styledLabel">Пароль</span>
    <input type="password" class="passField inputField" required>
    <span class="styledLabel">Повторите пароль</span>
    <input type="password" class="rePassField inputField" required>
    <button type="submit" class="regButton styledButton">Регистрация</button>
    <button type="button" class="backButton styledButton">Назад</button>
    <div class="styledLabel warning"></div>
</form>