<button class="scrollTopButton">^</button>

<div class="profileInfoBlock">
    <div class="profilePageImg">
    </div>

    <div class="profileTextBlock">
        <%-data.name%>
        <div class="subsLink">подписки</div>
        <div class="folsLink">подписчики</div>
    </div>
</div>

<div class="postsTable">
    <ul class="postsList">

    </ul>
</div>