<div id = "404" style="text-align: center; padding-top: 100px;">
    <span style="font-size: 50px;color: #666; font-family: Verdana, Helvetica;">
        404 Страница не найдена.
    </span>
    <br><a href="" style="padding-top: 50px; position: absolute;">На главную</a>
</div>