	<div id="AppsFrame" class="FrameClass">
		<div id="AppsFrameMsg"></div>
			<p>
				Список заявок:
				<button class="btn" id="AddAppsBtn">
					Добавить заявку
				</button>
				<input type='text' id="FindString" placeholder='Поиск..'>
				<select id="FilterClientSelect" id="appclient" required>
				</select>
			</p>
	</div>
	
	<div id="DetailAppsFrame" class="FrameClass">
			<div id="DetailAppsFrameMsg"></div>
			<p id="DetailFrameLabel">
				Детальная информация:
				<button class="btn" id="BackAppsBtn"> &laquo;Назад </button>
			</p>
			<div id=DetailFrameTable></div>
			<textarea id="CommArea" placeholder='Написать комментарий..' rows="2"></textarea>
			<div id="CommAreaDiv"></div>
			<br><button id='SendComm' class='btn'>Отправить</button>
			<div id=DetailFrameComments></div>
	</div>
	
	<div id="CreateAppsFrame" class="FrameClass">
		<form id="NewAppForm">
			<fieldset>
				<table>
					<tr>
						<td colspan="4"><h1>Создание заявки</h1></td>
					</tr>
				    <tr> 
					     <td  width="140">Название:</td>
					     <td width="250">
					     	<input type="text" id="appname" class="inpWidth" required>
					    </td>
					     <td align="right" width="100" id="NewAppFormDTRow">Дата:</td>
					     <td width="160">
					     	<input type="datetime-local" id="appdate" class="inpWidth" required>
						 </td>
				    </tr>
				    <tr id="NewAppFormCERow">
				    	<td >Клиент:</td>
				    	<td>	        
						  <select id="ClientSelect" id="appclient" class="inpWidth" required>
						  </select>
						</td> 
				    	<td align="right">Исполнитель:</td> 
				    	<td>
					      <select id="ExecutorSelect" id="appexecut" class="inpWidth" required>
						    <option value="null">-пусто-</option>
						  </select>
				    	</td> 
				    </tr>
				    <tr>
				    	<td>Описание:</td>
				    	<td colspan="3"></td>
				    </tr>
				    <tr>
				    	<td colspan="4">
					    	<textarea rows="10" id="appdisc" required></textarea>
				    	</td>
				    </tr> 
				    <tr>
					    <td >Предельный срок:</td>
					    <td>
					      <input type="datetime-local" id="appdeaddate" class="inpWidth" required>
					    </td>
					    <td align="right">Приоритет:</td>
				    	<td>
				    	  <select id="appprior" class="inpWidth" required>
							<option value="0">Низкий</option>
							<option value="1">Средний</option>
							<option value="2">Высокий</option>
						  </select>
				    	</td>
				    </tr>
				    <tr id="NewAppFormDSRow">
					    <td>Предпологаемый срок:</td>
					    <td>
						  <input type="datetime-local" id="appestdate" class="inpWidth" required>
					    </td>
					    <td align="right">Готовность(%):</td>
				    	<td>
							 <input type="number" id="status" min="0" max="100" class="inpWidth" required>
				    	</td>
				    </tr>
				    <tr>
				    	<td colspan="3"></td>
				    	<td align="right" >
				    		<input type="button"  id="BackBtn" class='btn' value="&laquo;Назад" >
				    		<input type="submit"  class='btn' value="Создать">
				    	</td>
				    </tr>
			   </table>
			</fieldset>
		</form>
	</div>