<div id="LogonWindow" class="WindowClass">
	<form id="LoginForm" class="FormsStyle">
	    <h1>Войти</h1>
	    <fieldset id="inputs">
	        <input id="username" placeholder="Логин" autofocus required type="text">   
	        <input id="password" placeholder="Пароль" required type="password">
	    </fieldset>
	    <fieldset id="actions">
	        <input class='btn' value="Войти" type="submit">
	        <a href="#Registration" id="RegHref">Зарегистрироваться</a>
	    </fieldset>
	</form>
</div>