<div id="MainWindow" class="WindowClass">
	<h1>Система учёта заявок</h1>
	<div id="MenuBar">
	 	<a href="#" id="MB1">Заявки</a><a href="#" id="MB2">Пользователи</a>
	 	<div class="RightsAllight">
		 	<div id="StatusBar">Статус</div>
		 	<a href="">Выйти</a>
	 	</div>
	</div>
</div>