<div id="RegWindow" class="WindowClass">
	<form id="RegistrationForm" class="FormsStyle">
	    <h1>Регистрация</h1>
	    <fieldset id="inputs">
	        <input id="username" placeholder="Логин" autofocus required type="text">   
	        <input id="password" placeholder="Пароль" required type="password">
	        <input id="name" placeholder="Имя" required type="text"> 
	    </fieldset>
	    <button class='btn' type="submit">Регистрация</button>
	    <div class="RightsAllight">
			<a href="#Login">
				<button type="button" class="btn">&laquo;Назад</button>
			</a>
	    </div>
	</form>
</div>