<% if(data.empty) { %> <option value='null'><%=data.empty%></option> <% } %>
	var ExecutorList=GetUsersList([,1]);
	<% _.each(data.list,function(item){ %>
		<option value='<%=item.login.toLowerCase()%>'>
		<%=item.name%>
	<% }); %>
</option>