<div class = "menu">
    <div class="menuShadow"></div>
    <div class="menuContent">
        <div class="menuProfile">
            <div class="userImg"></div>
            <div class="profileInfo">Пользователь: <span id="profileName"></span></div>
        </div>
        <div class="menuItemsList">
            <div class="menuTopBlocks">
                <ul class="myItem">Страница</ul>
                <ul class="feedsItem">Лента</ul>
                <ul class="searchItem">Поиск</ul>
                <ul class="subsItem">Подписки</ul>
                <ul class="folowersItem">Подписчики</ul>
            </div>
            <div class="menuBottomBlocks">
                <ul class="settingsItem">Настройки</ul>
                <ul class="logoutItem">Выйти</ul>
            </div>
        </div>
    </div>
</div>