<div class = "menu">
    <div class="menuShadow"></div>
    <div class="menuContent">
        <div class="menuProfile">
            <div class="userImg"></div>
            <div class="userInfo">Пользователь: <span id="userName"></span></div>
        </div>
        <div class="menuItemsList">
            <div class="menuTopBlocks">
                <ul>Пункт1</ul>
                <ul>Пункт2</ul>
                <ul>Пункт3</ul>
                <ul>Пункт4</ul>
            </div>
            <div class="menuBottomBlocks">
                <ul class="logoutItem">Выйти</ul>
            </div>
        </div>
    </div>
</div>