<table class="simple-little-table" border="2">
    <caption>
        <span class="title">
            <h1 style="margin-bottom: 8px;">Фору<span id="moderSpan">м</span></h1>
            <input id="moderPass" type="password" style="display: none; margin-bottom: 10px;" placeholder="Пароль">
        </span>
    </caption>
    <thead>
    <tr>
        <th style="width: 20%">Раздел</th>
        <th style="width: 60%">Описание</th>
        <th style="width: 20%">Дата создания</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<button type="button" class="exit">Выйти</button>