<div class="lineText">Название темы:</div>
<input type="text" id="topicName">

<div class="blockText">Описание:</div>
<input type="text" id="topicDisc">

<div class="blockText">Введите код:<span id="topicCaptcha"></span></div>
<input class="captchaField">

<button class="createButton" style="margin-top: 20px;">Создать тему</button>

<div class="blockError" style="position: fixed"></div>

