<table class="simple-little-table" border="2">
    <caption>
        <span class="title"><h1>Раздел:<%-section%></h1></span>
        <button class="addButton" type="button">Добавить тему</button>
    </caption>
    <thead>
    <tr>
        <th style="width: 20%">Тема</th>
        <th style="width: 60%">Описание</th>
        <th style="width: 20%">Дата создания</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<button type="button" class="back">На главную</button>
<button type="button" class="exit">Выйти</button>

<div class="errorDiv"></div>
<div class="overlay"></div>
<div class="modal"></div>