<td class="name"><%-name%></td>
<td class="disc"><%-discription%></td>
<td class="date"><%-date%></td>
<%if(sessionStorage.getItem("moder")){%>
    <td class="delSpan">
        <button class="delBtn">x</button>
    </td>
<%}%>
