body{
  font-family: cursive;
  background: ghostwhite;
}

.styledForm{
  display: table;
  position: fixed;
  width: 60vw;
  left: 20vw;
  transform: translate(0,100vh);
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  background: #ebf7e0;
  border: 2px solid #828180;
}

.inputField{
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: cursive;
  font-size: 20px;
  width: 100%;
}

.authButton{
  margin: 5px;
}

.styledButton{
  font-size: 17px;
  font-family: cursive;
  cursor: pointer;
  border-radius: 5px;
  border-style: double;
  padding: 5px;
  background: #e3f5e4;
}

.styledButton:hover{
  border-radius: 5px;
  border-style: dotted;
  padding: 5px;
  background: #ddf5f5;
}

.styledButton:active{
  border-radius: 5px;
  border-style: inset;
  padding: 5px;
  background: #ddf5f5;
}

.styledLabel{
  color: #828180;
  font-weight: bolder;
  font-size: 20px;
}

.styledLabel.message{
  color: forestgreen;
  height: 1.5em;
}

.styledLabel.warning{
  color: #be0000;
  height: 1.5em;
}

.showForm{
  transform: translate(0,calc(50vh - 115px));
  -webkit-transition: -webkit-transform 350ms linear;
  transition: transform 350ms linear;
}