<form class="authForm styledForm">
    <span class="styledLabel">Логин</span>
    <input type="text" class="loginField inputField" required>
    <span class="styledLabel">Пароль</span>
    <input type="password" class="passField inputField" required>
    <button class="authButton styledButton">Войти</button>
    <button class="regButton styledButton">Регистрация</button>
</form>