<form class="authForm styledForm">
    <span class="styledLabel">Логин</span>
    <input type="text" class="loginField inputField" required>
    <span class="styledLabel">Пароль</span>
    <input type="password" class="passField inputField" required>
    <button type="submit"  class="authButton styledButton">Войти</button>
    <button type="button"  class="regButton styledButton">Регистрация</button>
    <div class="styledLabel warning"></div>
</form>