<div class="postHeader">
    <span class="author"><%-userId%></span>
    <span class="date"><%=new Date(date).formatDate()%></span>
</div>

<div class="postContent">
    <%-content%>
</div>

<div class="postFooter">
    <button class="like">like</button>
    <span class="likeCount">0</span>
</div>