<div class="postHeader">
    <span class="author"><%-userId%></span>
    <span class="date"><%=new Date(date).formatDate()%></span>
</div>

<div class="postContent">
    <%-content%>
</div>

<div class="postFooter">
    <div class="leftFloat">
        <button class="like">like</button>
        <span class="likeCount">0</span>
    </div>
    <div class="rightFloat">
        <button class="repost">repost</button>
        <span class="repostCount">0</span>
    </div>
</div>